
html{
font-size:17px;
}
@media screen and (max-width: 1199px){
	html{
		font-size:15px;
	}
}
@media screen and (max-width: 991px){
	html{
		font-size:13px;
	}
}
@media screen and (max-width: 767px){
	html{
		font-size:11px;
	}
}
body{
    font-family:'Raleway',Calibri,sans-serif;
    background:#FEFAEF;
    color:#161407;
}
p,li,a{
    font-size:1rem;
}
p.lead,li.lead,a.lead{
    font-size:1.5rem;
}
a{
    color:#BDA22D;
    cursor:pointer;
}
a:hover,a:focus{
    color:#BDA22D;
}
hr{
    border:0;
    background-image: linear-gradient(to right, transparent, #DBDBDB, transparent);
    height:1px;
}
hr.tall{
    margin:40px 0;
}
.center{
    text-align:center
}
.right{
    float:right;
}
.inbl{
    display:inline-block;
}
.push-top{
    margin-top:50px;
}
.pd-top{
    padding-top:50px
}
.push-bot{
    margin-bottom:50px;
}
.pd-bot{
    padding-bottom:50px
}
.nopadding{
    padding:0!important;
}
.small-push{
	margin:20px 0;
}
.nomargin{
    margin:0!important;
}
.errore{
    font-weight:bold;
    color:red;
}
.cta{
	display: inline-block;
	margin:20px 0;
	padding:20px;
	color:#FEFAEF;
	background:#BDA22D;
	border:2px solid #161407;
	text-transform: uppercase;
	font-size: 1.7rem;
	cursor:pointer;
}
.cta:hover,.cta:focus{
	color:#FEFAEF;
	text-decoration: none;
}
.gold{
	color:#BDA22D;
}
.white,.white:hover,.white:focus{
    color:#FEFAEF;
}
h1, h2, h3, h4, h5, h6{
    font-weight:400;
		font-family:'Bitter',serif;
}
h1{
	font-size:4rem;
}
h2{
	font-size:3rem;
}
h3{
	font-size:2.5rem;
}
h4{
	font-size:2rem;
}
h5{
	font-size:1.5rem;
}
h5{
	font-size:1rem;
}

/*MENU*/
.logo{
	margin-top:5px;
}
.menu {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
    background: rgba(254,250,239,.75);
    transition: all .3s;
}
.menulinks{
	float:right;
	display: inline-block;
}
.menulinks a{
	text-transform: uppercase;
	color:#161407;
	display:inline-block;
	padding:30px 15px;
	font-size:.8rem;
	transition: all .15s;
}
.menulinks a:hover,.menulinks a:focus{
	color: #BDA22D;
	text-decoration: none;
}
.menulinks a.active{
	transform: scale(1.1);
	color: #BDA22D;
}

@media screen and (max-width:1366px) {
	.menulinks a{
		font-size:.8rem;
	}
}
/*MENU*/

/*menu mobile*/
.mobhead{
	z-index:100;
}
#tgmobmenu{
padding:0px 8px;
padding-top:5px;
font-size:2rem;
background:transparent;
cursor:pointer;
color: #BDA22D;
margin:10px;
border:2px solid #161407;
border-radius: 3px;
display:inline-block;
transition:all .5s;
float:right;
}
#tgmobmenu.mobmenuactive{
	background: #BDA22D;
	color:#FEFAEF;
}

#mobmenu{
height:0vh;
width:100vw;
position:fixed;
z-index:99;
overflow: hidden;
background:rgba(22,20,7,.85);
color:#FEFAEF;
transition:all .5s;
}
.menumobcontent{
	padding:20px;
	padding-top:60px;
}

.menumoblink a{
	margin-top:10px;
display:block;
font-size:1.8rem;
text-transform: uppercase;
text-decoration: underline;
color:#FEFAEF;
}
.menumoblink a.active{
color: #BDA22D;
}

.menumobcontent .socialimg{
	width:30px;
}
/*menu mobile*/


.landing{
	height:100vh;
	background:#BDA22D url('../img/full.jpg') center center no-repeat;
	background-size: cover;
	background-attachment: fixed;

}
.landing:before{
	content:'';
	position:absolute;
	height:100%;
	width:100%;
	opacity:.3;
	background: linear-gradient(#BDA22D, #161407);
}

/*chisiamo*/
.mainh1{
	color: #BDA22D;
	text-transform:uppercase;
}
@media screen and (min-width:992px) {
	.whoblockimg{
		transform: translateX(50px);
	}
	.whoblocktxt{
		transform: translateX(-50px);
	}
}
.whoblocktxt{
	padding:15px;
	background:rgba(254,250,239,.85);
}
/*chisiamo*/

.sezhead{
	position:relative;
	height:40vh;
}
.sezhead:before{
	content:'';
	position:absolute;
	height:100%;
	width:100%;
	opacity:.5;
	background: linear-gradient(#BDA22D, #161407);
}
.sezhead .headcont{
	position:absolute;
	text-align:center;
	bottom:10px;
	left:50%;
	transform: translateX(-50%);
}
.headcont h6,.headcont h2{
	margin:5px;
}

/*menù*/
#menuhead{
	background:#BDA22D url('../img/menu.jpg') center center no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

.menublock{
	cursor:pointer;
	border:2px solid #bda22d;
	height:170px;
	position:relative;
	text-align:center;
	display: block;
	background: #FEFAEF;
	transition: all.3s;
}
.menublock>p{
	text-transform:uppercase;
	font-size:2.3rem;
	font-weight:bold;
	color:#BDA22D;
	position:absolute;
	top: 50%;
  left: 10px;
	right: 10px;
  transform: translateY(-50%);
	transition: all.3s;

}
.menublock:hover{
	background: #BDA22D;
}
.menublock:hover>p{
	color: #FEFAEF;
}
/*menù*/


/*Gallery*/
#galleryhead{
	background:#BDA22D url('../img/gallery.jpg') center center no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

.instapic{
	cursor: pointer;
	position: relative;
	color: #FEFAEF;
}
.instmobinfo{
	background: #BDA22D;
  text-align: left;
  padding: 5px;
}
@media (min-width: 992px){
.instmobinfo {
  display: none;
}
}
.instmobinfo span {
  float: right;
}
.instover {
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: #BDA22D;
  transition: all .5s;
  padding: 20px 10px;
  text-align: center;
}
.instapic:hover .instover {
    opacity: .95;
}
.mcsinstalogo {
  margin-bottom: 20px;
  padding: 0 20px;
}
.likecomms {
  display: inline-block;
  font-size: 1.3em;
}
.like, .comms {
    display: inline;
    margin: 15px;
}
.like{
	float:left;
}
.comms{
	float:right;
}
/*gallery*/


/*prenota*/
#prenotahead{
	background:#BDA22D url('../img/prenota.jpg') center center no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

/*prenota*/


/*press*/
#presshead{
	background:#BDA22D url('../img/press.jpg') center center no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

.pressimg{
	height:300px;
	background-size: cover;
}
.presstit{
	text-transform: uppercase;
}
.cta.readmore{
	font-size: 1rem;
	padding:10px 20px;
}

.owl-theme .owl-nav{
	position:absolute;
	height: 4rem;
	top:50%;
	transform: translateY(-50%);
	left:-20px;
	right:-20px;
}
.owl-theme .owl-nav [class*=owl-]{
	font-size:4rem;
	color:#161407;
	background: transparent;
	padding:0;
	margin:0;
	position: absolute;
}
.owl-theme .owl-nav [class*=owl-]:hover{
	color:#161407;
	background: transparent;
}
.owl-carousel .owl-nav .owl-prev{
left:-5%;
}
.owl-carousel .owl-nav .owl-next{
right:-5%;
}
/*press*/


/*catering*/
#cateringhead{
	background:#BDA22D url('../img/catering.jpg') center center no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

/*catering*/


/*franchise*/
#franchisehead{
	background:#BDA22D url('../img/franchise.jpg') center center no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

/*franchise*/



/*contatti*/
#contattihead{
	background:#BDA22D url('../img/contatti.jpg') center center no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

input{
	width:100%;
	height:36px;
	font-size:1.2rem;
	margin-bottom:20px;
		font-weight:bold;
    transition:all .3s;
    padding:5px;
}
textarea{
	width:100%;
	height:100px;
	font-size:1.2rem;
	margin-bottom:20px;
		font-weight:bold;
    transition:all .3s;
    padding:5px;
}
input:focus,textarea:focus{
    border:2px solid #BDA22D;
    outline:0 !important;
    padding:5px;
}
.btnform{
	background:#9E9490;
	padding:10px;
	width:100%;
	font-size:1.3rem;
	transition: all .3s;
}
.btnform.ok{
	cursor:pointer;
	background:#BDA22D;
}
.btnform.ok:hover{
	background:#c1aa5d;
}
.btnform.done{
	background:green;
}
.btnform.error{
	background:red;
}
/*CONTACT*/

/*FOOTER*/
footer{
	background:#161407;
	padding:50px 0;
}
.footp{
color:#FEFAEF;
}
.socialimg{
	display:inline-block;
	width:50px;
	margin-right:10px;
}
.logofoot{
	padding:0 20px;
}
/*FOOTER*/

/*TORNA SU*/
#totop {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 9999;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    background:#161407;
    cursor: pointer;
    border: 0;
	font-size:1.5rem;
    text-decoration: none;
    transition: all 0.2s;
    opacity: 0;
	color: #FEFAEF;
}
#totop:hover {
	color:#c1aa5d;
}
#totop:focus {
	color:#BDA22D;
}
#totop.show {
    opacity: .6;
}
/*TORNA SU*/

/*MODAL*/
.modal-backdrop.in {
    opacity: .9;
}
.modal-backdrop{
	background: #161407;
}
.altfoto{
	cursor:pointer;
}
@media screen and (min-width: 768px){
    .modal-dialog {
        max-width:1200px;
        width:100%;
    }
}
.modal-content{
    background-color:transparent;
    border:0;
    box-shadow:none;
	border-bottom:1px solid #FEFAEF;
}
.modal-header{
    border-bottom:1px solid #FEFAEF;
    color:#FEFAEF;
    text-align:center;
}
.modal-title{
    font-size:2.2rem;
}
#fotomodal{
	margin-bottom:20px;
}
#modtxt{
    color:#FEFAEF;
}
#modtxt a{
    color:#FEFAEF!important;
    text-decoration: underline;
}
.close{
    color:#FEFAEF;
    font-size:3rem;
    opacity:1;
}
.close:hover, .close:focus{
    color:#FEFAEF;
    opacity:1;
    outline:0;
}
/*MODAL*/


/*side menu*/
.sidemenu {
    width: 0%;
    height: 100%;
    z-index: 100;
    background: #161407;
    position: fixed;
    top: 0;
    overflow: hidden;
    transition: width .3s;
}
.sidemenu.alt{
right:0;
}

.sidemenu.active{
	width:100%
}
.sidecont{
	width:80%;
	margin-left:10%;
}
@media only screen and (min-width: 1200px){
.sidemenu.active{
	width:75%
}
.sidecont{
	width:96%;
	margin-left:2%;
}
}
.sidecont{
	width:80%;
	margin-left:10%;
}
.sidemenu p{
	color:#FEFAEF;
}
.chiudiside {
    color: #fafafa;
    opacity: .7;
    cursor: pointer;
    margin: 20px;
    font-size: 2em;
    text-align: right;
    transition: all .3s;
}
.overlay {
    width: 100%;
    height: 100%;
    z-index: -1;
    background: #FEFAEF;
    opacity: 0;
    position: fixed;
    top: 0;
    transition: opacity .3s;
}
.overlay.active {
    z-index: 99;
    opacity: .9;
}
